/* Verpixelte Bilder */
.pixelated {
    filter: blur(25px);  /* Verpixelungseffekt */
    pointer-events: none; /* Verhindert Interaktionen mit den verpixelten Bildern */
}

/* Optionale Klasse für den Container der neuen Bilder */
#new-images {
    display: none; /* Standardmäßig die neuen Bilder ausblenden */
}

#message {
    display: none; /* Nachricht erst anzeigen, wenn Standort ermittelt wurde */
}

#status {
    color: red; /* Optional: Fehlermeldung wird rot angezeigt */
}
